.group-comment {
  padding-top: 10px;
}

.group-comment__name {
  margin-bottom: 38px;
}

.group-comment__item {
  margin: 0 20px 18px;
  display: block;
}

@media (min-width: @table-width) {
  .group-comment {
    padding-top: 0;
  }

  .group-comment__name {
    margin-bottom: 87px;
  }

  .group-comment__item {
    margin: 0 72px 50px;
  }
}

@media (min-width: @desctop-width) {
  .group-comment__name {
    margin-bottom: 77px;
  }

  .group-comment__item {
    margin: 0 auto 60px;
    width: 1220px;
  }
}
