.additional-card {
  padding: 13px 0 18px;
}

.additional-card__title {
  .zero-text();
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.additional-card__price-wrapper {
  margin: 0;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.additional-card__unit {
  text-align: start;
}

.additional-card__price {
  margin-left: auto;
}

.additional-card__button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}
