.additional-prod__title {
  margin-bottom: 33px;
}

.additional-prod__list {
  .zero-list();
  padding: 0 20px;
  margin-bottom: 35px;
}

.additional-prod__item {
  border-top: 1px solid #cdcdcd;
}

.additional-prod__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional-prod__gift {
  margin: 0 20px 38px;
}

@media (min-width: @table-width) {
  .additional-prod__title {
    margin-bottom: 80px;
  }

  .additional-prod__list {
    padding: 0 34px;
    margin-bottom: 35px;
  }

  .additional-prod__item {
    outline: 1px solid #cdcdcd;
    border: none;
  }

  .additional-prod__item:last-child {
    border-bottom: none;
  }
}
