.product-card__wrapper {
  padding: 19px 20px 0;
  margin-bottom: 10px;
  display: flex;
}

.product-card__image-container {
  width: 140px;
  height: 112px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__text-container {
  width: 140px;
  flex-grow: 1;
}

.product-card__button {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin: 0 20px 25px;
  padding: 10px;
}
