.header {
  position: relative;
  padding-top: 66px;
  background: url("../img/logo-cat-energy.svg") no-repeat center 23px;
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 19px;
}

@media (min-width: @table-width) {
  .header {
    display: flex;
    padding: 25px 35px 0 30px;
    background-position: 103px 41px;
    margin-bottom: 68px;
  }

  .header__logo {
    top: 23px;
    left: 30px;
  }

  .header__nav {
    margin-left: auto;
    min-width: 436px;
  }
}

@media (min-width: @desctop-width) {
  .header {
    padding: 0;
    padding-top: 59px;
    background: url("../img/logo-cat-energy-d.svg") no-repeat;
    background-position: 85px 74px;
    margin: 0 auto 78px;
    width: 1220px;
  }

  .header__logo {
    top: 56px;
    left: 1px;
  }

  .header__nav {
    min-width: 477px;
  }
}
