.header {
  position: relative;
  padding-top: 66px;
  background: url("../img/logo-cat-energy.svg") no-repeat center 23px;
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 19px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

@media (min-width: @table-width) {
  .header {
    display: flex;
    padding: 27px 35px 0 30px;
    background-image: none;
    margin-bottom: 68px;
  }

  .header__logo {
    top: 23px;
    left: 30px;
  }

  .header__nav {
    margin-left: auto;
    min-width: 436px;
  }
}

@media (min-width: @desctop-width) {
  .header {
    padding: 0;
    padding-top: 59px;
    background-image: none;
    margin: 0 auto 78px;
    width: 1220px;
  }

  .header__logo {
    top: 53px;
    left: 0;
  }

  .header__nav {
    min-width: 477px;
  }
}
