.links-list {
  .zero-list();
  position: relative;
  padding: 40px 20px;
}

.links-list__item {
  display: block;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.links-list__container {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
}

.links-list__logo {
  position: relative;

  &::before {
    content: "";
    width: 128px;
    height: 24px;
    background-image: url("../img/logo-text-footer.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 1px;
  }
}

.links-list__author {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: @table-width) {
  .links-list {
    display: flex;
    position: relative;
    padding: 55px 30px;
  }

  .links-list__item {
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      border-bottom: none;
    }
  }

  .links-list__social {
    min-width: 132px;
  }

  .links-list__author {
    min-width: 168px;
  }
}
